@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-cdp-red: #e50914;
	--color-cdp-dark: #121212;
	--color-cdp-gray: #1e1e1e;
	--color-cdp-yellow: #fcd116;

	--font-sans: system-ui, -apple-system, sans-serif;
}

@layer utilities {
	.cyber-clip {
		clip-path: polygon(
			0 0,
			100% 0,
			100% calc(100% - 15px),
			calc(100% - 15px) 100%,
			0 100%
		);
	}
	.cyber-btn {
		clip-path: polygon(
			10px 0,
			100% 0,
			100% calc(100% - 10px),
			calc(100% - 10px) 100%,
			0 100%,
			0 10px
		);
	}
	.bg-grid {
		background-image:
			linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
			linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
		background-size: 30px 30px;
	}
}

html,
body {
	background-color: var(--color-cdp-dark);
}
